MEMORY
{
    main : ORIGIN = 0x10000000, LENGTH = 65000
    trash : ORIGIN = 0x40000000, LENGTH = 64K
}

SECTIONS
{
    .macsbug_discard : { *(.text.*.macsbug) } > trash
    .vec : { KEEP(*(.vectors)) *(.vectors) } > main
    .text : {
        *(.text .text.* .rodata .rodata.*)
        *libgcc.a:*(.text .text.* .rodata .rodata.*)
        . = ALIGN(4);
        __reloc_offsets_start = ABSOLUTE(.);
        KEEP(*(.reloc_offsets))
        __reloc_offsets_end = ABSOLUTE(.);
        . = ALIGN(4);
    } > main
    .trash2 : { *(.init) *(.init.*) *(.fini) *(.fini.*) *(*.macsbug) } > trash
    /DISCARD/ : { *(.comment) *(.note*) *(.eh_frame*) *(.data*) *(.bss*) *(COMMON) }
}

ENTRY(__Startup__)
